<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
    <title>Bi-Weekly Reports</title>{%endblock%}
    <meta name="description" content="Specialty Industries Production Tracker">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    {% load static %}
    <!-- vendors -->

    <link rel="apple-touch-icon" href="{% static  'apple-icon.png' %} ">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <!-- css-->
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
    <!-- custom font-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>

<body id="div-with-bg">


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'webapp/images/logo.png' %}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{% url 'index' %}"><img src="{% static 'webapp/images/logo2.png' %}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'index' %}"> <i class="menu-icon fa fa-dashboard"></i>Supervisor Dashboard </a>
                    </li>
                    <h3 class="menu-title">Supervisors</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'production' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file"></i>Production Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-plus-square"></i><a href="#">New Form</a></li>
                            <li><i class="fa fa-caret-square-o-left"></i><a href="#">Past Forms</a></li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'biweekly' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-list-alt"></i>Bi-Weekly Report</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-list-alt"></i><a href="#">Current Bi-Weekly</a></li>
                            <li><i class="fa fa-list-alt"></i><a href="#">Past Bi-Weekly </a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Attendance Report</a>

                    </li>
                    <h3 class="menu-title">Account</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user"></i>Manage Account</a>
                        <a href="https://www.specialty-industries.com/" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-sign-out"></i>Logout</a>

                    </li>



                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="float-right">
                        <a href="https://www.specialty-industries.com/"> <i class="menu-icon fa fa-sign-out" style="color:black; font-size:large; padding-top: 15px;"></i></a>
                    </div>
                </div>
            </div>

        </header><!-- /header -->


        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Bi-Weekly Reports</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Supervisior Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="media-container-row">
            <div class="mb-4 content-container col-md-12">

                <h1 class="mbr-section-title pb-3 mbr-fonts-style align-center display-4">BI-WEEKLY REPORTS</h1>
                <p class="mbr-text pb-3 mbr-fonts-style p-descr align-center display-5 col-sm-10">
                    Welcome to the Specialty Industries Production Tracker. Below you will find access to the Bi-Weekly reports. You will be able to view the current Bi-weekly for the past couple of weeks and make any
                    changes necessary to the reports.
                </p>
            </div>
        </div>


        <div class="col-lg-3 col-md-6">
            <div class="social-box facebook">
                <a href="#">
                    <i class="fa fa-calendar"></i>
                    <ul>Current Bi-Weekly Report</ul>
                </a>
            </div>

        </div>
        <div>

        </div>
        <div class="col-lg-3 col-md-6">
            <div class="social-box twitter">
                <a href="#">
                    <i class="fa fa-list-alt"></i>
                    <ul>
                        Past Bi-Weekly Reports
                    </ul>
                </a>
            </div>

        </div>

    </div>




























    <!-- Right Panel -->

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static ' vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static ' vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static ' vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static ' vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script>
        (function ($) {
            "use strict";
            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
