<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
    <title>Production Tracker Dashboard</title>{% endblock %}
    <meta name="description" content="Specialty Industries Production Tracker">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- vendors -->
    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{% 'vendors/bootstrap/dist/css/bootstrap.min.css %}">
    <link rel="stylesheet" href="{% vendors/font-awesome/css/font-awesome.min.css %}">
    <link rel="stylesheet" href="{% vendors/themify-icons/css/themify-icons.css %}">
    <link rel="stylesheet" href="{% vendors/flag-icon-css/css/flag-icon.min.css %}">
    <link rel="stylesheet" href="{% vendors/selectFX/css/cs-skin-elastic.css %}">
    <link rel="stylesheet" href="{% vendors/jqvmap/dist/jqvmap.min.css %}">
    <!-- css-->
    <link rel="stylesheet" href="assets/css/style.css %}">
    <!-- custom font-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body id="div-with-bg">


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Administrator Dashboard </a>
                    </li>
                    <h3 class="menu-title">Supervisors</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-wpforms"></i>Production Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-plus-square"></i><a href="ui-buttons.html">New Form</a></li>
                            <li><i class="fa fa-caret-square-o-left"></i><a href="ui-badges.html">Past Forms</a></li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-list-alt"></i>Bi-Weekly Report</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-list-alt"></i><a href="tables-basic.html">Current Bi-Weekly</a></li>
                            <li><i class="fa fa-list-alt"></i><a href="tables-data.html">Past Bi-Weekly </a></li>
                        </ul>
                    </li>


                    <h3 class="menu-title">Administrator</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user"></i>Employee Management</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-user-plus"></i><a href="font-fontawesome.html">New Employees</a></li>
                            <li><i class="menu-icon fa fa-wrench"></i><a href="font-fontawesome.html">Modify Employees</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Standards</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus-square"></i><a href="font-fontawesome.html">Create Standards</a></li>
                            <li><i class="menu-icon fa fa-wrench"></i><a href="charts-flot.html">Modify Standards</a></li>

                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-text-o"></i>Reports</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-users"></i><a href="maps-gmap.html">Attendance</a></li>
                            <li><i class="menu-icon fa fa-file"></i><a href="maps-vector.html">Quarterly Production</a></li>
                            <li><i class="menu-icon fa fa-file-text-o"></i><a href="maps-vector.html">Bi-Monthlies</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->






        <div class="container" style="padding-top:175px; padding-left: 175px">

            <div class="media-container-row">
                <div class="mb-4 content-container col-md-12">
                    <img src="images/si-logo.png" style="height:150px; padding-left:150px;" alt="Specialty Industries Logo" />
                    <h1 class="mbr-section-title pb-3 mbr-fonts-style align-center display-3">PRODUCTION TRACKER</h1>
                    <p class="mbr-text pb-3 mbr-fonts-style p-descr align-center display-5 col-sm-10">
                        Welcome to the Specialty Industries Production Tracker. The production tracker will enable you to track your daily production logs within the system and manage the week more efficently.
                        Below you will find links to more information about the administrator capabilities within the production tracker.
                    </p>
                </div>
            </div>

            <br /><br /><br />
            <div class="col-sm-6 col-lg-3" style="margin-left:20px;">

                <div class="card text-white" style="background-color:#171B60;">
                    <br />
                    <img class="card-img-top mx-auto" src="images/usericon.png" style="height:60px; width:60px; overflow: hidden; " alt="Employee Icon">
                    <div class="card-body">




                        <h5 class="card-title">Employee Management</h5>
                        <p class="card-text text-light">Create and manage employees within Specialty Industries.</p>
                        <p class="card-text text-white"><a href="#" style="color:white;">Learn More</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">

                <div class="card text-white" style="background-color:#171B60;">
                    <br />
                    <img class="card-img-top mx-auto" src="images/standardicon.png" style="height:60px; width:60px; overflow: hidden; " alt="Standard Icon">
                    <div class="card-body">




                        <h5 class="card-title">Standards Management</h5>
                        <p class="card-text text-light">Create standards and manage the master standard.</p>
                        <p class="card-text text-white"><a href="#" style="color:white;">Learn More</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white" style="background-color:#171B60;">
                    <br />
                    <img class="card-img-top mx-auto" src="images/reporticon.png" style="height:60px; width:60px; overflow: hidden; " alt="Report Icon">
                    <div class="card-body">
                        <h5 class="card-title">Report Management</h5>
                        <p class="card-text text-light">Run reports based on the data within the database.</p>
                        <p class="card-text text-white"><a href="#" style="color:white;">Learn More</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>























    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js"></script>


    <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script>
        (function ($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>