{% extends 'webapp/base.html' %}

{% block content %}


    {% include 'webapp/left_bar_admin.html' %}
    <!-- Right Panel -->
    {% load static %}

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="float-right">
                        <a href="https://www.specialty-industries.com/"> <i class="menu-icon fa fa-sign-out" style="color:black; font-size:large; padding-top: 15px;"></i></a>
                    </div>
                </div>
            </div>

        </header><!-- /header -->


        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Employee Management</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Administrator Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>



        <div class="media-container-row">
            <div class="mb-4 content-container col-md-12">

                <h1 class="mbr-section-title pb-3 mbr-fonts-style align-center display-4">Test</h1>
                <p class="mbr-text pb-3 mbr-fonts-style p-descr align-center display-5 col-sm-10">
                    Lorem blah blah
                </p>
            </div>
        </div>

		<div class="container">
			<form method="post">
                {%  csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="button">Submit</button>
            </form>
		</div>
    </div>

{% endblock %}

    <!-- Right Panel -->



